<template class="section-template">
	<section id="welcome" class="wrapper style1 fullscreen intro">
		<div class="inner">
			<h1>View 2 - NeDB</h1>
			<p>You can add new NeDB entries and delete them.</p>

		    <div>
		      <div class="mdc-form-field">
		        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
		          <input id="firstname" type="text" class="mdc-text-field__input">
		          <label for="firstname" class="mdc-text-field__label">
		            First Name
		          </label>
		          <div class="mdc-line-ripple"></div>
		        </div>
		      </div>

		      <div class="mdc-form-field">
		        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
		          <input id="lastname" type="text" class="mdc-text-field__input">
		          <label for="lastname" class="mdc-text-field__label">
		            Last Name
		          </label>
		          <div class="mdc-line-ripple"></div>
		        </div>
		      </div>
		    </div>

		    <button id="btn_saveDB"
		            class="mdc-button
		                   mdc-button--raised
		                   mdc-ripple-surface"
		            data-mdc-auto-init="MDCRipple">
		      save to NeDB
		    </button>
				<button id="btn_readDB"
		            class="mdc-button
		                   mdc-button--raised
		                   mdc-ripple-surface"
		            data-mdc-auto-init="MDCRipple">
		      read NeDB entries
		    </button>

			<ul id="DB_entries" class="mdc-list">
				<!-- container for db entries -->
			</ul>

		</div>
	</section>
	<script>
		// init mdc + NeDB
		window.mdc.autoInit();		
		// NeDB - buttons
		$('#btn_saveDB').click(function(){
			var tempFirstName = $('#firstname').val();
			var tempLastName = $('#lastname').val();
			if(tempFirstName !== "" && tempLastName !== ""){
				var doc = { firstname: tempFirstName, lastname : tempLastName };
				db.users.insert(doc, function (err, newDoc) {
					if(err == null){
						$('#firstname').val("");
						$('#lastname').val("");
						$('#firstname').focus();
						listNeDBEntries();
					}else{
						alert(err);
					}
				});
			}else{
				alert("empty fields!");
			}
		});
		$('#btn_readDB').click(function(){
			listNeDBEntries();
		});

		// function list NeDB entries
		function listNeDBEntries(){
			db.users.find({ }, function (err, docs) {
				var tempDBentries = "";
				$.each(docs, function(i, val) {
					tempDBentries += '<li class="mdc-list-item">' + val.firstname + ' ' + val.lastname + '<a data-id='+ val._id +' class="del_icon mdc-list-item__meta material-icons" href="#" aria-label="Remove from favorites" title="delete entry" onclick="event.preventDefault();">delete</a></li>';
    		});
				$('#DB_entries').html(tempDBentries);
				// list item clicks -> remove entry
				$('.del_icon').click(function(){
					deleteEntry($(this).data("id"));
				});
			});
		}
		// function delete NeDB entry
		function deleteEntry(tempID){
			db.users.remove({ _id: tempID }, {}, function (err, numRemoved) {
				if(numRemoved > 0){
					listNeDBEntries();
				}
			});
		}

	</script>
</template>
